<div class="container">
  <div class="formcontrol">
    <form class="form-control" #f="ngForm">
      <h2> {{ 'filter_option' | translate }}</h2>
      <select class="form-control" [(ngModel)]="type" name="type" (ngModelChange)="typeOption(type)">
          <option value="organizacion">{{ 'organization' | translate }}</option>
          <option value="fecha">{{ 'date' | translate }}</option>
      </select>

      <button (click)="advancedFilter()" class="btn btn-lg">Avanzado</button>

      <div *ngIf="organivisible">
        {{ 'org_name' | translate }}
        <select class="form-control" [(ngModel)]="name" name="select">
          <option selected>{{ 'option_select' | translate }}</option>
          <option *ngFor="let option of options" [value]="option.id" name="id" ngDefaultControl>
            {{ option.name }}
          </option>
        </select>
        <button (click)="filterorg(name)" *ngIf="botonfilter" class="btn btn-lg">{{ 'filter' | translate }}</button>
      </div>


      <div *ngIf="fechavisible" class="form-control">
        {{ 'init_date' | translate }}
        <input type="date" class="fechainicio" #ini (change)="dateChange(ini.value)"> {{ 'fin_date' | translate }}
        <input type="date" class="fechafin" #fin (change)="dateChange2(ini.value)"><br>
        <button (click)="filterdate(ini.value, fin.value)" *ngIf="botonfilter" class="btn btn-lg">{{ 'filter' | translate }}</button>
      </div>

      <button (click)="bigFilter(name)" *ngIf="!botonfilter" class="btn btn-lg">{{ 'filter' | translate }}</button>

    </form>
  </div>

  <br>
  <div *ngIf="showTickets">

      <table class="table table-hover" >
          <tr class="table-danger">
            <td colspan="5" class="titulo">
               {{ 'filter_message' | translate }}</td>
          </tr>
          <tr class="table-danger">
            <th>
            {{ 'ticket_id' | translate }}
            </th>
            <th>
            {{ 'priority' | translate }}
            </th>
            <th>
            {{ 'created' | translate }}
            </th>
            <th>
            {{ 'last_update' | translate }}
            </th>
            <th>
              {{ 'organization' | translate }}
              </th>


          </tr>
          <tr *ngFor="let tick of showTickets" class="mb-1">
            <td >
              {{tick.ticket_id}}
            </td>
            <td >
              {{tick.priority}}
            </td>
            <td >
              {{tick.created}}
            </td>
            <td >
              {{tick.updated}}
            </td>
            <td >
              {{tick.organization}}
            </td>
          </tr>
        </table>

        <br>
        <button class="btn btn-lg" (click)="exportCsv()">{{ 'export' | translate }}</button>
  </div>
</div>
