/* You can add global styles to this file, and also import other style files */


table tr:last-child td:first-child{
  border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child{
  border-bottom-right-radius: 6px;
}

.table-hover tbody tr:hover{
  background-color:#ff1d347e;
  color:white
}

.table-danger th{
  background-color:#dc3545;
}

.table-danger{
  color:white;
  font-size: 18px;
}

td {
  font-size: 18px;
}

.navbar{
  font-weight: bold;
}

.btn-white:hover{
  background-color: #ff8f9a7e;
  color:white;
}
